.filters
  %span{data: {dropdown: true}}
    = link_to spina.new_admin_case_study_path, class: 'button button-primary' do
      = icon('plus')
      New Case Study
  %span{data: {dropdown: true}}
    = link_to spina.new_admin_client_path, class: 'button button-primary' do
      = icon('plus')
      New Client
.dd#pages_list
  - if @clients.any?
    %ol.dd-list
      = render partial: 'client', collection: @clients
  - else
    %em No clients yet
